*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%; 
    background-image: url(https://images.unsplash.com/photo-1462331940025-496dfbfc7564?q=80&w=1822&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: fill;

    color: white;
   
}

header{

    padding: 2.5rem;
    
}
header a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 1.6rem;

    margin-right: 1.6rem;
    font-weight: bold;

}

#app{
   margin-top: 2.5rem;
    height: 60vh;
    text-align: left;
    padding: 2.5rem;

    font-size: 1.8rem;
}

#app a{

    color: white;
    font-size: 1.4rem;

    border: 3px solid white;
    border-radius: 2px;

    padding: 1rem;

    margin-top: 2rem;
    
    display: block;
    width: fit-content;

    transition: 0.2s;
}
#app a:hover{
    color: rgb(215, 206, 206);
    border: 3px solid rgb(215, 206, 206);
}
.margenTop{
    margin-top: 2rem;
    text-align: justify;
}